lib
# Win32, POSIX
*/win32/*.d
*/win32/*.o
*/posix/*.d
*/posix/*.o
samples/*/*.exe
test/*/*.exe
# DOS
*/dos/*.lib
*/dos/*.lb1
*/dos/*.lk1
*/dos/*.map
*/dos/*.mk
*/dos/*.mk1
*/dos/*.obj
*/dos/*.sym
# Rabbit/Dynamic C
*/rabbit/*.bak
*/rabbit/*.dbg
*/rabbit/*.dcp
*/rabbit/*.bdl
*/rabbit/*.bin
*/rabbit/*.brk
*/rabbit/*.hdl
*/rabbit/*.hex
*/rabbit/*.lst
*/rabbit/*.map
*/rabbit/*.org
*/rabbit/*.rom
*/rabbit/*.upl
*.hx1
*.md1
vssver.scc
samples/rabbit/common
src/xbee/rabbit
src/xbee/util
# other files
*.orig
doc
coverity
samples/rabbit/main-node_discovery.c
samples/rabbit/my_config.h
test/posix/atas
test/posix/jsll_gen
test/posix/t_jslong
test/posix/xbee_timer_compare
test/posix/zcl_24bit
test/posix/zcl_boolean
test/posix/zcl_encode_structured_values
test/posix/zcl_read
test/posix/zcl_type_info
test/posix/zcl_type_name
test/posix/zcl_write
samples/posix/atinter
samples/posix/commissioning_client
samples/posix/commissioning_server
samples/posix/install_ebl
samples/posix/transparent_client
samples/posix/walker
samples/posix/zcltime
samples/posix/apply_profile
samples/posix/eblinfo
samples/posix/gpm
samples/posix/ipv4_client
samples/posix/network_scan
samples/posix/sms_client
samples/posix/xbee_term
samples/posix/zigbee_walker
t_memcheck
zdo_simple_desc_respond
zdo_match_desc_request
